body, html {
	background-color: #000;
}
h2 {
	color: #fff;
	transition: transform 0.7s;
	text-align: center;
}
h2:active, body {
	transform: rotate(360deg);
}
div.foot {
	color: #787878;
}
td {
	color: #000;
}
